* {
  box-sizing: border-box;
}

#audience-container {
  display: flex;
  flex-direction: row;
}

#user-list {
  flex: 2;
  height: 100vh;
  border-radius: 4px;
  overflow: hidden;
}

#user-details {
  flex: 3;
  height: 100vh;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
}
