#audience-container {
  display: flex;
  flex-direction: row;
}

#user-list {
  flex: 2;
  height: 100vh;
  background-color: #f6f9fb;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;
}

#user-details {
  flex: 3;
  height: calc(100vh - 24px);
  background-color: #fff;
  padding: 24px;
}
